@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /* efek staggered (masuk satu per satu) pada list */
    .animate-slideIn {
    animation: slideIn 0.4s ease-out forwards;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Animasi Fade In (Untuk Overlay) */
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }

  /* Animasi Scale In (Untuk Panel Modal) */
  .animate-scaleIn {
    animation: scaleIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes scaleIn {
    from { 
      opacity: 0;
      transform: scale(0.95) translateY(10px);
    }
    to { 
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

/* Pastikan peta punya tinggi */
.leaflet-container {
    width: 100%;
    height: 100%;
}